body {
    margin: 0px;
    padding: 0px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.menu {
    position: absolute;
    display: inline;
    top: 35px;
    right: 50px;
    font-weight: bold;
    text-transform: lowercase;
    border-style: solid;
    border-color: lightgoldenrodyellow;
    border-radius: 25px 25px 25px 25px;
    font-family: "Source Sans Pro", serif;
    opacity: 0.85;
}

.menu a:any-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 8px;
}

.menu a:hover {
    color: white;
    text-decoration: underline;
}

header img {
    opacity: 0.7;
}

.hfoto {
    position: absolute;
    display: inline-block;
    left: 49px;
    top: 270px;
    opacity: 0.1;
}

h2 {
    text-align: center;
    vertical-align: middle;
    opacity: 0.75;
}

.txtfoto {
    position: relative;
    text-align: center;
    color: black;
}

.txtfoto #koptxt {
    position: absolute;
    display: inline-block;
    left: 130px;
}

.txtfoto #countdown {
    position: absolute;
    display: inline-block;
    left: 240px;
    top: 80px;
    display: none;
}

.txtfoto #intxt {
    position: absolute;
    display: inline-block;
    left: 290px;
    top: 90px;
}

.txtfoto button {
    position: absolute;
    left: 275px;
    top: 120px;
    color: black;
}

.txtfoto img {
    position: absolute;
    display: inline-block;
    right: 250px;
}

.txtfoto #opgegeven {
    position: absolute;
    left: 250px;
    top: 140px;
    color: black;
    font-size: 15px;
}